<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="style_addmodule.css" rel="stylesheet">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<body class="bg-light">

	<header>
		<nav class="navbar navbar-expand-md navbar-custom fixed-top">
			<a class="navbar-brand" href="home.html" id="theactive">FriBouch Formations</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="home.html" >Accueil <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="stagiaire.html">Stagiaire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fas fa-dice"></i></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>


	<div class="container" id="contain">
		<div class="py-5 text-center">
			<h3 class="mb-3">Saisir la catégorie</h3>
		</div>

		<form action="../controler/addCategorie.controler.php" method="post" >

			<div class="container-form">
				<div class="mb-3">
					<label id="firstcolorletter" for="nom_categorie">Nom de la categorie</label>
					<div class="input-group">
						<input type="text" name="nom_categorie" placeholder="Nom de la catégorie..." class="form-control" required>
					</div>
				</div>

				<div id="formcontainer"></div>

				<hr class="mb-4">

				<input type="submit" value="Finaliser" class="btn btn-primary btn-lg btn-block" id="thebutton" href="home.html">
			</div>
		</form>
	</div>
	<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <p>
          FriBouch
        </p>
      </div>
      <div class="col-6 col-md">
        <h5>Accueil</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="home.html">Accueil</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Stagiaire</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="stagiaire.html">Liste des Stagiaires</a></li>
          <li><a class="text-muted" href="newstagiaire.html">Nouveau Stagiaire</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Ajout</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="addModuleSession.html">Nouvelle Session</a></li>
          <li><a class="text-muted" href="addACategorie.html">Nouvelle Catégorie</a></li>
          <li><a class="text-muted" href="addAModule.html">Nouveau Module</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Nous-contactez</h5>
        <ul class="list-unstyled text-small">
          <p class="text-muted">Contactez-nous sur :</p>
          <li><a class="text-muted" href="#">nouscontactezpas@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
